body {
  background-image: url('https://i.postimg.cc/YSzhkbLX/Screenshot-2024-07-09-10-27-53.png');
  background-size: 1450px 1150px;
}

h2 {
  color: #666;
  font-family: monospace;
  text-align: center;
}

.background {
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.lava, .actor {
  background: #e55;
}

.wall {
  background: #444;
  border: solid 3px #333;
  box-sizing: content-box;
}

/* Continue the same pattern for the rest of your classes... */
